 *{
   max-width:1300px;
   margin:0 auto;
   padding: 0;
   box-sizing: border-box;
 }
 
 .parent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 10px;
  margin-top: 50px;
  padding:10px;
 }
 .home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 5px 4px lightgray;
  padding: 10px;
  background-color:white;
}
 
 img{
 height: 150px;
  width: 280px;
  object-fit: cover;
  border-radius: 10px;
  }
  @media only screen and (max-width: 275px) {
     .parent{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  column-gap: 10px;
  margin-top: 50px;
  padding:10px;
 }
  .home-card {
  height: 250px;
  width: 70%;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 5px 4px lightgray;
  padding: 10px;
  background-color:white;
}
img{
 height: 150px;
  width:70%;
  object-fit: cover;
  border-radius: 10px;
  }
  }